body{
	/*padding: 10px;*/
	font-size: 13px;
	font-family: 'Arial';
}

#header{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #726E6D;
	padding-bottom: 4px;
	position: relative;
}

#name{
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	color: #990012;
}

#contact_info_div{
	position: absolute;
	font-size: 13px;
	bottom: 0;
	right: 0;
	padding-bottom: 5px;
	padding-right: 2px;
}

.contact_info_tag{
	float: left;
	color: #990012;
	padding-right: 5px;
}

.contact_info{
	float: right;
}

.section_head{
	text-align: center;
	padding-top: 6px;
	font-size: 20px;
	font-weight: bold;
	color: #990012;
	width: 100%;
	display: inline-block;
}

.section_info{
	display: inline-block;
	width: 100%;
	margin-top: 3px;
}

.subsection_head{
	font-size: 18px;
	margin-top: 2px;
	color: #990012;
}

.subsection_role{
	font-size: 14px;
	font-weight: bold;
	color: #726E6D;
	padding-top: 3px;
}

.subsection_details{
	font-size: 14px;
	float: right;
	padding-top: 3px;
}

table{
	width: 100%;
}

ul{
	padding-top: 0;
	margin-top: 0;
}

.coop_job, .project, .activity, .job{
	width: 100%;
}

.other_experience{
	font-weight: bold;
	color: #726E6D;
}
